<!-- login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="/script.js"></script>
  <title>Login</title>
</head>
<body>

  <header class="bg-dark text-white text-center py-5">
    <div class="container">
      <h1 class="display-4">Diet and Fitness Hub</h1>
      <p class="lead">Log in to continue your fitness journey.</p>
    </div>
  </header>

  <div class="container mt-4">
    <form action="/auth/login" method="POST">
      <div class="form-group">
        <label for="loginUsername">Username</label>
        <input type="text" class="form-control" id="loginUsername" name="loginUsername" required>
      </div>
      <div class="form-group">
        <label for="loginPassword">Password</label>
        <input type="password" class="form-control" id="loginPassword" name="loginPassword" required>
      </div>
      <button type="submit" class="btn btn-success">Login</button>
      {{#if message}}
        <h6 class="alert alert-danger mt-4">{{message}}</h6>
      {{/if}}
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
